.container {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: 100vh;
}

.form {
}
.form form {
    display: flex;
    align-items: center;

    width: 400px;
    flex-direction: column;
}
.form form input {
    margin-bottom: 8px;
}
